body {
    background-image: url("../images/img.webp");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family:  "Outfit", sans-serif;
    color: #ffffff;
    font-weight: bold;
    text-align: center;

}
.container{
    background-color: #000000;
    max-width: 300px;
    margin: 100px auto;
    padding: 10px;
    border: 5px solid #ff00ff;
    border-radius: 15px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#increment-btn {
    background: #000000;
    border: 3px solid #ffff00;
}

#save-btn {
    background: #000000;
    border: 3px solid #00ff00;
}
#increment-btn:hover{
    color: #000000;
    border-color: #ff00ff;
    background-color: #ffff00;    
}
#save-btn:hover{
    border-color: #ff00ff;
    background-color: #00ff00;
    color: #000000;   
}
#save-btn:focus{
    outline: none;
}
#increment-btn:focus{
    outline: none;
}

